body {
	font-family:Georgia, "Times New Roman", Times, serif;
	margin: 0;
	padding: 0;
	padding-top: 10px;
	text-align: center;
	background-color:#999;
	}
	
header {
	font-family:Georgia, "Times New Roman", Times, serif;
	}
	
a:link{
	color:#00F
	}
	
a:visited{
	color:#C00
	}		

a:hover{
	color:#FF0
	}

h3 {
	text-shadow: 1px 1px #333; color:#333
	}	
	
ul {
	width: 500px;
	margin: 6px auto;
	list-style-type: none;
	padding: 0;
	overflow:hidden;
	color:#300
	}
	
.navb{
	display:block;
	line-height:20px;
	background:#999;
	text-decoration:none
	height:30px;
	}
	
.b1{
	border:thin;
	border-image:url(gradientbutton.jpg);
	float:left;
	margin: 15px;
	}
	
.b2{
	border:thin;
	border-image:url(gradientbutton.jpg);
	}		
	
.build {
	list-style-type:square;
	color:#630;
	position:inherit;
	}	
		
h2 {
    background: #666;
	overflow:auto;
	margin:5px;
  }
  
.s1{
	font-family:Georgia, "Times New Roman", Times, serif;
	border:2px solid;
	border-radius:25px;
	-moz-border-radius:25px;
	background:#666;
	overflow:auto;
	margin:10px;
	padding:3px;
	}  
	
.lux {
	border:solid;
	float:left;
	color:#666;
	}
	
.plux{
	font-family:Georgia, "Times New Roman", Times, serif;
	border:2px solid;
	border-radius:25px;
	-moz-border-radius:25px;
	background:#666;
	overflow:auto;
	margin:10px;
	padding:3px;
	}
			
footer {
	clear:both;
	background:#666;
	opacity: 0.8;
	}	
.i1 {
	border:1px dotted #FFF;
	margin: 20px auto;
	}
	
.p1 {
	float:left;
	}	
	
.b11{
	color:#666;
	}	

div{
	-moz-column-count:3;
	-moz-column-gap:25px;
	}	