/*-----------Body Content-----------*/

body {
   font: 100%/1.5 "Georgia", Times New Roman, serif;
   max-width: 960px;
   margin:3.75% auto;
   background:#fff;
}
		
div { 
   width:75%;
   margin:3.75% auto;
   overflow:hidden;
   background:#cecabc;
   border:.3em solid #003333;
   text-align:center;
   padding:0.41666667%;
   font-weight: normal;
}

table{
  text-align:center;
  margin:3.75% auto;
  border: double gray;
  border-collapse: collapse;
  border: 1px solid black;
}

th {
  text-align: center;
  background: gray;
  color: white;
  padding: 0.2em;
}

td {
  border: 1px solid black; padding: 0.2em;
}
      	
#luximg{
  border:0.3em solid #cecabc;
  width:21.5625%;
}


   	
.intro{
   width:75%;
   margin:3.75% auto;
   overflow:hidden;
   background:#cecabc;
   border:.3em solid #003333;
   text-align:center;
   padding:0.41666667%;
}	   

.p1{
  width:75%;
  margin:3.75% auto;
  overflow:hidden;
  background:#cecabc;
  border:.3em solid #003333;
  text-align:center;
  padding:0.41666667%;
}

header{
  text-align:center;
  background:#cecabc;
  overflow:hidden;
  border: .3em solid #003333;
}

.build{
   width:75%;
   margin:3.75% auto;
   overflow:hidden;
   background:#cecabc;
   border:.3em solid #003333;
   text-align:center;
   padding:0.41666667%;
}

#columns{
  -moz-column-count:3;
  -moz-column-gap:25px;
  text-align:justify;
}

.i1{
  max-width:80%;
  text-decoration: none;
  border:.7em solid #cecabc;
  list-style-type:none;
  text-align:center;
  margin: 5% auto;
}
/*----------Menu Items----------*/

a:link{
	color:#00F
	}
	
a:visited{
	color:#C00
	}		

a:hover{
	color:#FF0;
	background:#0FF;
	}

.nav{
 width:52.083333%;
 margin:1em auto;
 list-style-type:none;
 padding:0;
 text-align:center;
 overflow:hidden;
}

.l1{
 width:4em;
 float:left;
 border: .4em solid #003333; 
 background: url(gradientbutton.png) no-repeat;
 text-align:center;
}

a {
 text-decoration: none;
 display: block;
 height: 0.4%;
 color: red;
}

footer{
  background:gray;
  width:100%;
  opacity:0.8;
  font-size:0.6em;
  text-align:center;
}

/*--Media Queries
=====================================*/

/*----------Tablet Portrait Size to Standard 960 (Devices & Browsers)*/
@media screen and (min-width:760px) and (max-width:959px) {

body {
	font: 100%/1.5 "Georgia", Times New Roman, serif;
    max-width: 960px;
    margin:3.75% auto;
    background:#555;
	}
	
#luximg { 
	background: red;
	border: 2em dotted purple; /*----this is just for visual------*/ 
 	float:none;
 }

header{
	list-style-type:none;
	text-decoration:underline;
	float:none;
}

.l1{
	float:none
}

}

/*----------Mobile Landscape Size to Tablet Portrait (Devices & Browsers)*/
@media only screen and (min-width:480px) and (max-width:767px) {

body {
   font: 100%/1.5 "Georgia", Times New Roman, serif;
   max-width; 767px;
   margin:3.75% auto;
   background:#222;
	}

#luximg{ 
	background: green;
	border:1em dashed blue; 
	float:none;
}

header{
	list-style-type:none;
	text-decoration:underline;
	float:none;
}

.l1{
	float:none
}

}

/*----------Mobile Portrait Size to Mobile Landscape Size (Devices & Browsers)*/
@media only screen and (max-width:479px) {

body {
   font: 100%/1.5 "Georgia", Times New Roman, serif;
   max-width; 479px;
   margin:3.75% auto;
   background:#444;
   float:none;
	}

#luximg{ 
	background: yellow;
	border:1em double gray;
	float:none;
}

header{
	list-style-type:none;
	text-decoration:underline;
	float:none;
}

.l1{
	float:none
}

}